@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+TC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Noto Serif TC", serif;
  font-weight: bolder;
  background-image: url(../img/1_0_bg_img.png);
  background-size: 100vw;
  background-repeat: repeat-y;
  background-position: center;
  width: 100vw;
  position: relative;
}
.main_p {
  margin: 75px auto 75px auto;
  display: block;
  text-align: center;
  font-size: 20pt;
  width: 100vw;
  color: #5c6652;
}
.p_text {
  margin: 10px 0;
}
.middle_foot {
  display: block;
  width: 122px;
  height: 0px;
  margin: 75px auto;
  position: relative;
}
.foot {
  display: block;
  width: 46px;
  height: 52px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}
.foot1 {
  background-image: url(../img/1_4_middle_foot1.png);
  top: 0;
  left: 0;
  opacity: 0%;
  animation: opcitychange 3s 2;
}
.foot2 {
  background-image: url(../img/1_4_middle_foot2.png);
  top: 200px;
  left: 114px;
  opacity: 0%;
  animation: opcitychange2 3s 2;
}
.foot3 {
  background-image: url(../img/1_4_middle_foot3.png);
  top: 400px;
  left: 0;
  opacity: 0%;
  animation: opcitychange3 3s 2;
}
@keyframes opcitychange {
  0% {
    opacity: 0%;
  }
  20% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  80% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes opcitychange2 {
  0% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  80% {
    opacity: 0%;
  }

  100% {
    opacity: 0%;
  }
}
@keyframes opcitychange3 {
  0% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  80% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.yl_result_card {
  width: 1320px;
  height: 333px;
  display: flex;
  flex-wrap: wrap;
  margin: 150px auto;
}
.yl_result_card_left {
  position: relative;
  padding: 5px;
}
.yl_result_card_left_img {
  border-radius: 20px;
  position: absolute;
  top: 80px;
  width: 212px;
  height: 298px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.yl_result_card_left p {
  display: block;
  text-align: center;
  width: 90px;
  height: 88px;
  font-size: 16pt;
  font-weight: bolder;
  line-height: 32pt;
  letter-spacing: 3px;
  color: #fffbe7;
  background-color: #5c6652;
  border-radius: 14px 14px 0 0;
}
.food_title {
  font-weight: bold;
  font-size: 24pt;
  color: #5c6652;
}
.food_text {
  font-size: 20pt;
  color: #5c6652;
  font-weight: lighter;
}
.food_title1 {
  margin: 0 20px 0 0;
  font-size: 24pt;
  color: #5c6652;
}
.food_type p {
  font-size: 20pt;
  color: #5c6652;
}

.food_title1,
.food_type p {
  display: inline-block;
  vertical-align: center;
  font-weight: bolder;
}
.food_type {
  margin: 0 0 73px 0;
}
.comments {
  animation: opcitychange4 6.3s 1;
}
.yl_result_card1 {
  animation: opcitychange4 6.6s 1;
}
.yl_result_card2 {
  animation: opcitychange4 6.9s 1;
}
.yl_result_card3 {
  animation: opcitychange4 7.2s 1;
}
.comments_title {
  margin: 100px auto;
}
.comments_title {
  display: block;
  width: 880px;
  height: 61px;
  background-image: url(../img/1_4_title_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  text-align: center;
  padding: 7px 270px 11px 288px;
  font-size: 20pt;
  letter-spacing: 15pt;
  color: #fffbe7;
}

.comments_text {
  font-size: 40pt;
  font-weight: bolder;
  text-align: center;
  margin: 100px auto;
  color: #5c6652;
}

.final_btn {
  width: 649px;
  height: 58px;
  display: flex;
  flex-wrap: wrap;
  margin: 150px auto 150px auto;
}
.start_btn {
  width: 33%;
  padding: 0 19px;
}
.start_btn a {
  color: #5c6652;
  text-decoration: none;
  display: block;
  width: 162px;
  height: 58px;
  background-color: #fffbe7;
  border: #5c6652 6px solid;
  border-radius: 58px;
  font-weight: bolder;
  padding: 7px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}
.start_btn a:hover {
  background-image: url(../img/button_hover_bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 243px;
  color: #fffbe7;
}

@keyframes opcitychange4 {
  0% {
    opacity: 0%;
  }
  95% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
