@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+TC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Noto Serif TC", serif;
  font-weight: bolder;
  background-image: url(../img/1_0_bg_img.png);
  background-size: 100vw;
  background-repeat: repeat-y;
  background-position: center;
  height: 1562px;
  position: relative;
}
.main_p {
  margin: 100px 40vw 100px 60vw;
  display: block;
  text-align: left;
  font-size: 32pt;
  width: 100vw;
  height: 300px;
  padding: 40px;
  color: #5c6652;
}
.p_text {
  margin: 40px 0;
}
.yl_real {
  display: block;
  width: 1920px;
  height: 1080px;
  background-image: url(../img/1_5_img.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0%;
  animation: bgopcity2 10s;
  animation-delay: 3s;
}
.bg {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
  opacity: 0%;
  animation: bgopcity 10s;
}
@keyframes bgopcity {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 0%;
  }
  20% {
    opacity: 50%;
  }
  100% {
    opacity: 50%;
  }
}
@keyframes bgopcity2 {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 0%;
  }
  20% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
.yl_joke {
  position: absolute;
  top: calc(50vh - 22px);
  left: calc(50vw - 22px);
  opacity: 0%;
  animation: bgopcity2 10s;
}
.start_btn {
  width: 243px;
  height: 88px;
  margin: 100px auto 150px auto;
  visibility: hidden;
}
.start_btn a {
  color: #5c6652;
  text-decoration: none;
  display: block;
  width: 243px;
  height: 88px;
  background-color: #fffbe7;
  border: #5c6652 8px solid;
  border-radius: 58px;
  padding: 11px;
  font-size: 32px;
  text-align: center;
  vertical-align: middle;
}
.start_btn a:hover {
  background-image: url(../img/button_hover_bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 243px;
  color: #fffbe7;
}
