@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+TC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Noto Serif TC", serif;
  font-weight: bolder;
  background-image: url(../img/2_0_bg_img.png);
  background-size: 100vw;
  background-repeat: repeat-y;
  background-position: center;
}
.yl_result_card {
  width: 1320px;
  height: 763px;
  display: flex;
  flex-wrap: wrap;
  margin: 200px auto;
}
.yl_result_card_left {
  position: relative;
  padding: 5px;
}
.yl_result_card_left img {
  border-radius: 20px;
  position: absolute;
  top: 0px;
  width: 542px;
  height: 763px;
}

.food_title {
  font-weight: bold;
  font-size: 32pt;
  color: #5c6652;
  text-align: left;
}
.food_text {
  font-size: 24pt;
  color: #5c6652;
  font-weight: lighter;
}
.food_title1 {
  margin: 0 30px 0 0;
  font-size: 40pt;
  color: #5c6652;
}
.food_type p {
  font-size: 24pt;
  color: #5c6652;
}

.food_title1,
.food_type p {
  display: inline-block;
  vertical-align: center;
  font-weight: bolder;
}

.food_type_introduce {
  display: block;
  height: 763px;
  margin-top: 210px;
  vertical-align: bottom;
  line-height: 72px;
}
.food_type {
  margin: 0 0 73px 0;
  text-align: center;
}
.comments_title {
  margin: 100px auto;
}
.comments_title {
  display: block;
  width: 1320px;
  height: 92px;
  background-image: url(../img/1_4_title_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  text-align: center;
  padding: 12px 406px 18px 432px;
  font-size: 32pt;
  letter-spacing: 22pt;
  color: #fffbe7;
}

.comments_title {
  margin: 100px auto;
}
.comments_title {
  display: block;
  width: 1320px;
  height: 92px;
  background-image: url(../img/1_4_title_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  text-align: center;
  padding: 12px 406px 18px 432px;
  font-size: 32pt;
  letter-spacing: 22pt;
  color: #fffbe7;
}

.comments_text {
  font-size: 24pt;
  letter-spacing: 8pt;
  font-weight: lighter;
  text-align: center;
  margin: 100px auto;
  color: #fffbe7;
}
.yl_more {
  margin: 100px auto 100px auto;
}
.yl_carousel_silde {
  width: 1320;
  height: 236px;
  position: relative;
}
.yl_carousel_silde_row {
}
.yl_carousel_card {
  position: fixed;
  z-index: 10000;
  position: absolute;
  width: 168px;
  height: 236px;
  border-radius: 10px;
}
.yl_carousel_card1 {
  top: 0;
  left: calc(50% - 462px);
}
.yl_carousel_card2 {
  top: 0;
  left: calc(50% - 210px);
}
.yl_carousel_card3 {
  top: 0;
  left: calc(50% + 42px);
}
.yl_carousel_card4 {
  top: 0;
  left: calc(50% + 294px);
}
.yl_more {
  position: relative;
  width: 1320px;
  height: 336px;
}
.yl_more_botton {
  position: absolute;
  bottom: 50px;
}
.yl_arrow {
  position: absolute;
  bottom: 100px;
}
