@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+TC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Noto Serif TC", serif;
  font-weight: bolder;
  background-image: url(../img/1_0_bg_img.png);
  background-size: 100vw;
  background-repeat: repeat-y;
  background-position: center;
  height: 1562px;
}
.introuduce {
  display: block;
  width: 1320px;
  height: 520px;
  color: #5c6652;
  font-size: 32pt;
  margin: 73px auto 150px auto;
  text-align: center;
}

.introuduce_text {
  margin: 120px auto 120px auto;
}
.comments_title {
  margin: 100px auto;
}
.comments_title {
  display: block;
  width: 1320px;
  height: 92px;
  background-image: url(../img/1_4_title_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  text-align: center;
  padding: 12px 406px 18px 432px;
  font-size: 32pt;
  letter-spacing: 22pt;
  color: #fffbe7;
}

.comments_title {
  margin: 100px auto;
}
.comments_title {
  display: block;
  width: 1320px;
  height: 92px;
  background-image: url(../img/1_4_title_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  text-align: center;
  padding: 12px 406px 18px 432px;
  font-size: 32pt;
  letter-spacing: 22pt;
  color: #fffbe7;
}
.yl_result_card {
  width: 1320px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
}
.yl_result_card_left {
  position: relative;
  padding: 5px;
}
.yl_result_card_left img {
  border-radius: 20px;
  position: absolute;
  top: -50px;
  width: 447px;
  height: 447px;
}
.yl_result_card_right {
  margin: 70px auto;
}
.food_title {
  font-weight: bold;
  font-size: 32pt;
  color: #5c6652;
}
.food_text {
  font-size: 24pt;
  color: #5c6652;
  font-weight: lighter;
  vertical-align: bottom;
}
.food_title1 {
  margin: 0 30px 0 0;
  font-size: 40pt;
  color: #5c6652;
}
.food_type p {
  font-size: 24pt;
  color: #5c6652;
}

.food_title1,
.food_type p {
  display: inline-block;
  vertical-align: center;
  font-weight: bolder;
}
.food_type {
  margin: 0 0 73px 0;
}
