.circle {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  animation: colorchange 2s infinite;
}
/*同一個設定。只設定動畫延遲秒數，可以多寫class控制*/
.c01 {
  animation-delay: 0.2s;
}

.c02 {
  animation-delay: 0.4s;
}

.c03 {
  animation-delay: 0.6s;
}

.c04 {
  animation-delay: 0.8s;
}

.c05 {
  animation-delay: 1s;
}

.c06 {
  animation-delay: 1.2s;
}

.red_square {
  width: 50px;
  height: 50px;
  background-color: red;
}
/*圖片做動畫最好寫成背景*/
.img_animation {
  width: 150px;
  height: 150px;
  background-image: url(../img/hyunjin.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/*position有三種主要使用語法
1.fixed=>通常用在固定於畫面某處。ex:gottop bnt/nav
2.relative/absolute=>通常一起使用，relative為基準點，absolute根據relative的位置對應top/left/bottom/right的設定
*/

.outframe {
  width: 100px;
  height: 100px;
  border: solid 1px #000000;
  position: relative;
}

.innerframe {
  width: 60px;
  height: 60px;
  border: solid 1px #000000;
  position: absolute;
}
/*css動畫邏輯
1.先寫動畫
2.寫到要套用動畫的tag上*/
@keyframes colorchange {
  0% {
    background-color: #000000;
  }
  50% {
    background-color: #ffffff;
  }
  100% {
    background-color: #000000;
  }
}
