@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+TC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.footer {
  font-family: "Noto Serif", serif;
  font-weight: 800;
  display: inline-block;
  width: 100vw;
  height: 145px;
  background-image: url(../img/1_0_footer_bg.png);
  background-position: center;
  background-repeat: repeat-x;
  vertical-align: middle;
}
.footer_container {
  position: relative;
  width: 1320px;
  height: 145px;
  background-color: #5c6652;
}
.footer_icons {
  display: inline-block;
  vertical-align: middle;
}
.footer_icon1 {
  position: absolute;
  left: 48px;
  top: 48px;
  width: 48px;
  height: 48px;
}
.footer_icon2 {
  position: absolute;
  left: 156px;
  top: 48px;
  width: 48px;
  height: 48px;
}
.footer_icon3 {
  position: absolute;
  left: 264px;
  top: 48px;
  width: 48px;
  height: 48px;
}
.footer_icon4 {
  position: absolute;
  left: 372px;
  top: 48px;
  width: 48px;
  height: 48px;
}
.footer_copyright {
  vertical-align: middle;
  position: relative;
  top: 34px;
  left: calc(1320px - 600px);
  color: #fffbe7;
  font-size: 24px;
}
