@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+TC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.footer {
  font-family: "Noto Serif", serif;
  font-weight: 500;
  display: inline-block;
  width: 100vw;
  height: 96px;
  background-image: url(../img/1_0_footer_bg.png);
  background-position: center;
  background-repeat: repeat-x;
  vertical-align: middle;
}
.footer_container {
  position: relative;
  width: 1320px;
  height: 96px;
  background-color: #5c6652;
}
.footer_icons {
  display: inline-block;
  vertical-align: middle;
}
.footer_icons img {
  width: 35px;
  height: 35px;
}
.footer_icon1 {
  position: absolute;
  left: 32px;
  top: 34px;
  width: 32px;
  height: 32px;
}
.footer_icon2 {
  position: absolute;
  left: 104px;
  top: 34px;
  width: 32px;
  height: 32px;
}
.footer_icon3 {
  position: absolute;
  left: 176px;
  top: 34px;
  width: 32px;
  height: 32px;
}
.footer_icon4 {
  position: absolute;
  left: 248px;
  top: 34px;
  width: 32px;
  height: 32px;
}
.footer_copyright {
  display: block;
  width: 460px;
  vertical-align: middle;
  position: relative;
  top: 15px;
  left: calc(1320px - 502px);
  color: #fffbe7;
  font-size: 20px;
}
