@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+TC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Noto Serif TC", serif;
  font-weight: bolder;
  background-color: #5c6652;
  background-size: 100vw;
  background-repeat: repeat-y;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.logo {
  margin: auto;
  width: 515px;
  height: 900;
  position: relative;
}

.start_btn a {
  color: #fffbe7;
  text-decoration: none;
  display: block;
  width: 366px;
  height: 116px;
  background-color: #5c6652;
  border: #fffbe7 8px solid;
  border-radius: 58px;
  padding: 25px;
  font-size: 32px;
  text-align: center;
  vertical-align: middle;
  margin: 100px auto 150px auto;
}
.start_btn a:hover {
  background-image: url(../img/button_hover_bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 366px;
  color: #fffbe7;
}
